.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.overlay-after-rift {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background-color: white;
  opacity: 0;
  animation: after-rift 2s linear;
}
.overlay-before-video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container,
.choise-container,
.container-before-video {
  width: 600px;
  min-height: 400px;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkslategrey;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  animation: modal-app 0.5s linear;
}

.choise-container {
  width: 1000px;
  height: 600px;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 40px;
}

.container-before-video {
  width: 1000px;
  height: 600px;
}

.option-container {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  background-color: whitesmoke;
  border: 1px solid #333;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.option-text {
  font-size: 20px;
  color: #333;
  text-align: center;
}

.inputBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
input {
  width: 100%;
  height: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 5px;
}

.submitBtn {
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: lightcoral;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.2s linear;
}

.submitBtn:hover {
  background-color: darkred;
  color: azure;
}

.submitBtn:active {
  background-color: lightsalmon;
  color: beige;
}

.modal-container p,
.text-cont {
  color: snow;
  text-align: center;
  font-size: 25px;
  width: 80%;
  word-wrap: break-word;
  margin-top: 110px;
  letter-spacing: 0.08em;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-container p {
  margin-top: 50px;
}

.story-cont-dis {
  display: none;
}
.story-cont,
.end-form-after-ending,
.start-story-cont {
  display: block;
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 25px;
  background: linear-gradient(45deg, darkred 0%, darkslategrey 90%);
  border-radius: 15px;
  animation: appear 0.5s linear;
}

.start-story-cont {
  height: 780px;
}

.end-form-after-ending p {
  font-size: 35px;
  color: snow;
  letter-spacing: 0.01em;
}
.story-cont p,
.start-story-cont p {
  color: snow;
  font-weight: 500;
  font-size: 24px;
  width: 60%;
  letter-spacing: 0.01em;
  text-align: justify;
}

.goNextBtnEndLevel {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: darkgoldenrod;
  color: snow;
  cursor: pointer;
}

.video-cont {
  width: 90%;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-cont video {
  aspect-ratio: 16/9;
  max-height: 95vh;
  transition: 0.3s linear;
  border-radius: 15px;
}

.final-choise-container .option-container {
  width: 300px;
}

.option-disable-container {
  position: relative;
}

.option-disable-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  top: 0;
  left: 0;
  cursor: not-allowed;
}

.finalChoiseTitle {
  position: absolute;
  width: 80%;
  text-align: center;
  top: 50px;
  color: snow;
  font-size: 25px;
}

.play-video-btn {
  position: absolute;
  display: none;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: darkred;
  color: snow;
  cursor: pointer;
}

@keyframes modal-app {
  0% {
    transform: translate(-50%, 100%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes after-rift {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes go-down {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 800px;
  }
}
